@import 'vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.topSection {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 26px;
}
h1 {
    font-weight: 500;
    font-size: 16px;
    color: #595085;
    margin-bottom: 4px;
}
h2 {
    font-weight: 400;
    font-size: 14px;
    color: #595085;
    opacity: 0.6;
    margin-bottom: 11px;
}
.profileInfo a {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #595085;
}

.strongSide {
    font-weight: 500;
    font-size: 14px;
    color: #595085;
}

.strongSides {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.strongSides div {
    font-weight: 500;
    font-size: 12px;
    color: #479696;
    background: #f5f9f9;
    padding: 8px 10px;
    display: flex;
}

.weakSide {
    font-weight: 500;
    font-size: 14px;
    color: #595085;
}
.weakSides {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 40px;
}
.weakSides span {
    font-weight: 500;
    font-size: 12px;
    color: #ff7e73;
    background: #fff4f4;
    display: flex;
    padding: 8px 10px;
}

.myReports {
    font-weight: 300;
    font-size: 24px;
    color: #595085;
}
.reports {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 9px;
    margin-bottom: 13px;
}

.reportsBlock p{
    font-weight: 500;
    font-size: 12px;
    color: #403572;
}
.reportsBlock span{
    font-weight: 400;
    font-size: 10px;
    color: #403572;
    opacity: 0.5;
}

.reportsBlock {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.reportsBlock:nth-child(1) {
    background: #f6f5fb;
}
.reportsBlock:nth-child(2) {
    background: #f5f9f9;
}
.reportsBlock:nth-child(3) {
    background: #fff4f4;
}
.reportsBlock:nth-child(4) {
    background: #fdf9fb;
}

// .reportsBlock p:nth-child(1) {
//     color: #403572;
// }
// .reportsBlock p:nth-child(2) {
//     color: #479696;
// }
// .reportsBlock p:nth-child(3) {
//     color: #ff5648;
// }
// .reportsBlock p:nth-child(4) {
//     color: #c93f8d;
// }

.reportsBlock1 p{
    color: #403572;
}
.reportsBlock2 p{
    color: #479696;
}
.reportsBlock3 p{
    color: #ff5648;
}
.reportsBlock4 p{
    color: #c93f8d;
}
.reportsBlock1 span{
    color: #403572;
}
.reportsBlock2 span{
    color: #479696;
}
.reportsBlock3 span{
    color: #ff5648;
}
.reportsBlock4 span{
    color: #c93f8d;
}

.myReports {
    margin-bottom: 15px;
}
.profileNameJob {
    margin-top: 24px;
}